name: Go

on:
  workflow_dispatch:
    inputs:
      repo:
        description: Repository
        required: true
      ref:
        description: Branch or Tag
        required: false
        default: 'master'
      go:
        description: Go Version
        required: false
        default: '1.16'
      args:
        description: GoReleaser Options
        required: false
        default: '--snapshot --rm-dist'

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ github.token }}
      GORELEASER_CURRENT_TAG: ${{ github.event.inputs.ref }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.ref }}
          repository: ${{ github.event.inputs.repo }}
          submodules: true
          fetch-depth: 2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ github.event.inputs.go }}
          
      - name: Setup GoReleaser Config
        run: curl -fsSL https://gist.new/raw/bde968b5a4ae4eb8e52f98ea9ac1eb70 > .goreleaser.yml

      - name: Build
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release ${{ github.event.inputs.args }}

      - name: Get commit hash # For release notes
        id: commit
        run: echo "::set-output name=hash::$(git rev-parse --short HEAD)"

      - name: Prep Release Notes
        working-directory: dist
        run: |
          echo 'source: ${{ github.event.inputs.repo }}@${{ steps.commit.outputs.hash }}' | tee ../RELEASE.md
          echo -e '\n```sh\necho $hash  $filename | sha1sum -c\n' | tee -a ../RELEASE.md
          cat checksum.txt | tee -a ../RELEASE.md
          echo '```' | tee -a ../RELEASE.md

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.event.inputs.repo }}/${{ steps.commit.outputs.hash }}
          name: ${{ github.event.inputs.repo }}@${{ github.event.inputs.ref }}
          prerelease: false
          allowUpdates: true
          replacesArtifacts: true
          artifacts: 'dist/*.zip,dist/checksums.txt'
          bodyFile: 'RELEASE.md'
          token: ${{ github.token }}
